*   {
    margin: 0px;
    padding: 0px;
}

.container  {
    padding: 0% 10%;
    height: 100%;
}

.topBar {
    background-color: black;
    color: whitesmoke;
    padding: 2%;
}

.yourFeedBar    {
    text-align: center;
    padding: 1.5%;
}

.content  {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.leftCol    {
    border: solid black 2px;
    margin: 2%;
    height: 20%;
    padding: 2%;
}

.leftCol img, .leftCol a, .leftCol h2   {
    margin: 0px auto;
    text-align: center;
}

.leftCol > img  {
    width: 33%;
    display: block;
}

.rightCol   {
    width: 45%;
    margin: 2%;
}

button  {
    padding: 2%;
    border-radius: 10%;
    background-color: yellow;
    box-shadow: 2px 2px;
}

.post   {
    width: 100%;
    border: solid black 2px;
    margin-bottom: 2%;
    padding: 2%;
    
}

.post > h3   {
    margin-top: 2%;
}
.topPortion   {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}


